<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ustoz ma'lumotlarini tahrirlash</title>
</head>
<body>
<h1>Ustoz ma'lumotlarini tahrirlash</h1>
<br>
<form method="post" action="/ustoz/{{ustoz.id}}/tahrirlash/">{% csrf_token %}
    <label>Ism</label><br>
    <input type="text" name="ism" value="{{ustozlar.ism}}"><br>

    <label>Familiya</label><br>
    <input type="text" name="familya" value="{{ustozlar.familiya}}"><br>

    <label>Yo'nalish</label><br>
    <select name="yonalish">
        {% for yonalish in yonalishlar %}
        <option value="{{yonalish.id}}">{{yonalish.nomi}}</option>
        {% endfor %}
    </select>

    <label>Telefon raqam"</label><br>
    <input type="text" name="tel_raqam" placeholder="+998901234567"><br>

    <label>Manzil</label><br>
    <input type="text" name="manzil" placeholder="manzilni kiriting "><br><br>

    <button type="submit">Tahrirlashni amalga oshirish</button>

</form>
</body>
</html>